/* =====================================================================
   Projects
   ---------------------------------------------------------------------
   Creating and editing a project.
   ===================================================================== */

.newProject-page-container .body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newProject-page-container .body > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newProject-page-container input::placeholder,
.newProject-page-container textarea::placeholder {
  opacity: 0.4;
}

.newProject-page-container input,
.newProject-page-container textarea,
.newProject-page-container select {
  color: white;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 15px;
  width: 60%;
}

.newProject-page-container .projectInfo > div p {
  width: 75%;
  font-style: italic;
}

.newProject-page-container a {
  color: var(--main-color);
  transition: all 0.2s ease;
  filter: brightness(1.5);
}

.newProject-page-container a:hover {
  text-decoration: underline;
  filter: brightness(2);
}

.newProject-page-container button {
  width: fit-content;
  border-radius: 0.75rem;
}

.newProject-page-container div.botInfo {
  background-color: var(--border-color);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2rem;
  opacity: 0;
  animation: 1s ease projectCreationAnim;
  animation-fill-mode: forwards;
}

.newProject-page-container .body div.projectInfo {
  opacity: 0;
  animation: 1s ease 1s projectInfoAnim;
  animation-fill-mode: forwards;
}

.newProject-page-container .botInfo > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.newProject-page-container .updateBot i {
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.2s ease;
  filter: brightness(1.5);
}

.newProject-page-container .updateBot i:hover {
  filter: brightness(2);
}

.newProject-page-container .botInfo img {
  height: 7rem;
  border-radius: 1.5rem;
}

.newProject-page-container select {
  min-height: 2.5rem;
}

.newProject-page-container #projectCreationGraphic {
  animation: projectCreationGraphic 1s ease;
}

.newProject-page-container .textAnim {
  opacity: 0;
  animation: 1s ease 1s projectCreationAnim;
  animation-fill-mode: forwards;
}

@keyframes projectCreationGraphic {
  0% {
    scale: 0.75;
    filter: blur(1rem);
    opacity: 0;
  }

  100% {
    scale: 1;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes projectCreationAnim {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes projectInfoAnim {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.newProject-page-container #visibilityInfo {
  color: var(--main-color);
  transition: all 0.2s ease;
  cursor: pointer;
  width: fit-content;
  filter: brightness(1.5);
}

.newProject-page-container #visibilityInfo:hover {
  filter: brightness(2);
}

.newProject-page-container .invalidTokenWarning {
  background-color: rgb(96, 0, 0);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.newProject-page-container .invalidTokenWarning i {
  font-size: 35px;
}

.project-page-container h1.editable {
  cursor: pointer;
  width: fit-content;
  transition: all 0.2s ease;
}

.project-page-container h1.editable:hover {
  text-decoration: underline;
  scale: 1.05;
}
