pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em !important;
  font-family: monospace !important;
}

code.hljs {
  font-family: monospace !important;
  padding: 3px 5px !important;
}

/*
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b
*/

.hljs {
  color: #abb2bf;
  background: #282c34 !important;
}

.hljs-comment,
.hljs-quote {
  color: #4d5461 !important;
  font-style: italic !important;
  font-weight: 400 !important;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c764e6 !important;
  font-weight: 400 !important;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #eb5965 !important;
  font-weight: 400 !important;
}

.hljs-literal {
  color: #42c5d6 !important;
  font-weight: 400 !important;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #97db66 !important;
  font-weight: 400 !important;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #ec9b4e !important;
  font-weight: 400 !important;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4dabf8 !important;
  font-weight: 400 !important;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #f0bf65 !important;
  font-weight: 400 !important;
}

.hljs-emphasis {
  font-style: italic !important;
  font-weight: 400 !important;
}

.hljs-strong {
  font-weight: bold !important;
}

.hljs-link {
  text-decoration: underline !important;
  font-weight: 400 !important;
}
