@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Sans', 'Roboto', sans-serif;
  --main-color: #014f98;
  --border-color: rgba(112, 128, 144, 0.233);
  --foreground-color: #001222;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 2rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

body {
  background-color: #00040f;
}

.loadingAnim {
  display: flex;
  color: white;
  gap: 1rem;
  font-size: 40px;
}

.loadingAnim .spinner {
  border: 4px solid var(--foreground-color);
  border-radius: 50%;
  border-top: 5px solid var(--main-color);
  height: 3rem;
  width: 3rem;
  animation: spin 0.5s infinite ease;
}

a {
  color: white;
  text-decoration: none;
}

p.errors {
  color: rgb(255, 134, 134);
}

button {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  white-space: nowrap;
  justify-content: center;
  border: none;
  padding: 1.75vh;
  border-radius: 2rem;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.849);
  border: 2px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s ease;
}

button#red {
  background-color: #ff3c3c;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 1.3rem;
}

button#red:hover {
  background-color: #ff3c3cb0;
}

button:active {
  scale: 0.95;
}

button:hover i:not(.noRotate) {
  animation: spin 0.5s 1 ease;
}

button.disabled:hover i {
  animation: none;
}

button.disabled {
  background-color: rgba(219, 219, 219, 0.315);
  border: 2px solid #0062be48;
  color: rgba(0, 0, 0, 0.329);
  cursor: not-allowed;
}

button.disabled:hover {
  background-color: rgba(219, 219, 219, 0.315);
  border-radius: unset;
  border-radius: 2rem;
}

button.disabled:active {
  scale: 1;
}

input[type='number'] {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 0.5rem;
  color: white;
}

input:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

input[type='number']:hover {
  background-color: var(--border-color);
}

.hidden {
  opacity: 0;
  transform: translateX(-9rem) scale(0.95);
  filter: blur(3px);
  transition: opacity 0.5s 0.25s ease, transform 0.5s 0.25s ease,
    filter 0.5s 0.25s ease;
}

.hidden.shown {
  opacity: 1;
  transform: none;
  filter: none;
}

.userTag {
  background-color: var(--main-color);
  border-radius: 2rem;
  padding: 5px;
  width: min-content;
  display: flex;
  align-items: center;
  gap: 0.25vw;
  cursor: pointer;
  transition: all 0.2s ease;
}

.userTag:hover {
  background-color: var(--border-color);
}

.userTag img {
  border-radius: 50%;
  height: 2rem;
}

.userTag p {
  padding-right: 0.25rem;
  white-space: nowrap;
}

.unerline-effect {
  display: flex;
  flex-direction: column;
}

.underline-effect::after {
  content: '';
  display: block;
  opacity: 0;
  height: 0.3vh;
  border-radius: 10px;
  background-color: rgb(152, 174, 196);
  transition: all 0.2s ease;
  box-shadow: 0 0 1rem 0.1rem var(--main-color);
}

.underline-effect:hover::after {
  transform: translateY(100%);
  opacity: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:disabled + .slider {
  opacity: 0.25;
  cursor: not-allowed;
}

.switch:active .slider:before {
  width: 35px;
}

.switch:active input:checked + .slider:before {
  left: -5px;
}

.slider:active {
  background-color: #6697c5 !important;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
  border-radius: 2rem;
}

.slider:before {
  position: absolute;
  border-radius: 2rem;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.2s;
  box-shadow: 0 0 10px 1px gray;
}

input:checked + .slider {
  background-color: var(--main-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.button {
  cursor: pointer;
  background-color: slategray;
  padding: 1vh;
  border-radius: 10px;
  border: 2px solid rgb(152, 174, 196);
  transition: all 0.2s ease;
  align-items: center;
  display: flex;
  gap: 0.4vw;
  justify-content: center;
}

.button:hover {
  background-color: rgb(152, 174, 196);
}

.button.disabled {
  background-color: rgba(112, 128, 144, 0.479);
  border: 2px solid rgba(152, 174, 196, 0.466);
  color: rgba(255, 255, 255, 0.432);
  cursor: not-allowed;
}

.button.disabled:hover {
  background-color: rgba(112, 128, 144, 0.479);
}

.tooltipEle {
  position: relative;
}

.tooltipText {
  display: none;
}

.tooltipEle:hover .tooltipText {
  display: block;
  font-size: 17px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 20rem;
  max-width: 20rem;
  top: 150%;
  right: 0;
  padding: 1vh;
  border: 2px solid gray;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

p.modal-text {
  line-height: 3vh;
}

.workspace-navbar {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  height: 7.5vh;
  min-height: 60px;
  padding: 2vh;
  color: white;
}

.workspace-navbar .content-container {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.workspace-navbar i.menu {
  display: none;
  margin-left: auto;
}

i.workspacesMenuBtn {
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
  background-color: var(--border-color);
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 0.2s ease;
}

i.workspacesMenuBtn:hover {
  color: var(--foreground-color);
}

.previewWorkspaceNavbar {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  height: 7.5vh;
  padding: 2vh;
  color: white;
  position: relative;
}

.previewWorkspaceNavbar > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.projectName {
  margin-left: 0.6rem;
  margin-right: -0.6rem;
  cursor: default;
  background-color: var(--border-color);
  border-radius: 10px;
  padding: 0.5rem;
  overflow: hidden;
  min-width: fit-content;
}

.projectName p {
  cursor: pointer;
  font-family: 'Poetsen One';
  font-size: 20px;
  white-space: nowrap;
  min-width: fit-content;
}

.workspace-navbar .left {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.4vw;
}

.workspace-navbar .logo {
  display: flex;
  align-items: center;
  gap: 0.7vw;
  transition: all 0.2s ease;
}

.workspace-navbar .logo:hover {
  scale: 1.1;
}

.workspace-navbar .logo img {
  width: 3.5rem;
}

.workspace-navbar .left ul {
  display: flex;
  gap: 0.6vw;
  align-items: center;
  list-style: none;
}

.workspace-navbar .right {
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.workspace-navbar .right ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.6vw;
}

.workspace-navbar .right ul i {
  font-size: 20px;
}

.workspace-navbar .right ul a i {
  color: rgb(0, 46, 197);
}

.workspace-navbar .right .indicator {
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: 0.4vw;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 16px;
  max-width: 130px;
  padding: 4px;
  background-color: var(--border-color);
  border-radius: 5px;
  height: 2rem;
  width: fit-content;
}

.workspace-container {
  display: flex;
}

.workspace-container .right {
  width: 100%;
}

.workspace-container {
  display: flex;
}

.workspace-container .right {
  width: 100%;
}

.workspace-container {
  display: flex;
}

.workspace-container .right {
  width: 100%;
}

#workspace {
  height: 87.5vh;
  width: 100%;
}

#previewWorkspace {
  height: 92.5vh;
  width: 100%;
}

.workspace-tabs {
  height: 5vh;
  overflow: auto;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--foreground-color);
  border-left: 2px solid var(--border-color);
  transition: height 0.3s ease;
}

.workspace-navbar .workspace-tabs-open {
  display: block;
  scale: 1.25;
  cursor: pointer;
  transition: opacity 0.3s ease, scale 0.2s ease;
}

.workspace-navbar .workspace-tabs-open:hover {
  scale: 1.45;
}

#workspace-tabs-open-container {
  align-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  display: block;
  width: 0rem;
  transition: width 0.3s ease;
  margin-left: 3px;
  margin-right: 3px;
  transform: translateX(1vw);
}

.workspace-tabs > div:first-child {
  margin-left: 1rem;
}

.workspace-tabs .tab.active {
  background-color: var(--main-color);
}

.workspace-tabs > div {
  background-color: var(--border-color);
  padding: 3px 10px 3px 10px;
  border-radius: 1rem;
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.workspace-tabs > div:hover {
  background-color: var(--main-color);
}

.workspace-tabs div .buttons {
  display: flex;
}

.workspace-tabs div .buttons i {
  padding: 6px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.workspace-tabs div .buttons i:hover {
  background-color: var(--main-color);
}

.workspace-tabs .newTab {
  background-color: var(--border-color);
  padding: 0.5rem;
}

.workspace-tabs .newTab:hover {
  background-color: var(--main-color);
}

.load-container {
  position: absolute;
  left: 50%;
  top: 50%;
  scale: 2;
  transform: translate(-25%, -50%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.code-view {
  background-color: rgba(31, 31, 31, 0.897);
  padding: 2vh;
  height: 100vh;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 2vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.code-view *,
.secrets-view * {
  color: white;
}

.code-view .code {
  font-family: monospace !important;
  padding: 1.5vh;
  font-size: 15px;
  background-color: #1f2c38;
  border: 4px solid #274864;
  border-radius: 10px;
  max-height: 90vh;
  overflow: auto;
}

.code-view .code * {
  font-family: monospace !important;
  font-weight: 400;
}

.code-view .top {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.code-view .top button,
.secrets-view .top button {
  height: min-content;
  border: none;
  padding: 1vh;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.code-view .top button#close {
  background-color: rgb(163, 0, 0);
}

.secrets-view .top button#close {
  background-color: rgb(163, 0, 0);
  position: absolute;
  border-radius: 2rem;
  left: 100%;
  transform: translateX(-120%);
}

.code-view .top button#copy {
  background-color: var(--main-color);
}

.code-view .top button#close:hover,
.secrets-view .top button#close:hover {
  background-color: rgb(190, 0, 0);
}

.code-view .top button#copy:hover {
  background-color: #0062be;
}

.code-view .top .check {
  color: rgb(0, 202, 0);
  font-size: 25px;
}

.secrets-view .top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.secrets-view::backdrop {
  background-color: rgba(0, 0, 0, 0.733);
}

.secrets-view {
  border-radius: 2rem;
  background-color: rgba(31, 31, 31, 0.897);
  padding: 2vh;
  height: 50vh;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.secrets-container {
  flex-direction: column;
  gap: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.secrets-view button#secret-add {
  background-color: var(--main-color);
}

.secrets-view input {
  padding: 0.75rem;
  border-radius: 2rem;
  border: 2px solid var(--border-color);
  font-size: 20px;
  background-color: rgb(88, 88, 88);
}

.secrets-view input::placeholder {
  color: white;
}

.secrets-view .secrets {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secrets-view .secrets div {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.secrets-view .secrets ul {
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secrets-view .secrets ul li {
  display: flex;
  gap: 0.5rem;
}

.secrets-view .secrets ul li div {
  background-color: var(--main-color);
  display: block;
  width: 5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px;
  border-radius: 5px;
}

.secrets-view ul li div.copy:hover {
  background-color: slateblue;
}

.secrets-view ul li div.delete:hover {
  background-color: rgb(255, 103, 103);
}

.blockly-ws-search {
  box-shadow: 0 10px 20px black;
  padding: 1vh;
  border: none;
  border-radius: 10px;
}

#workspace input,
#previewWorkspace input {
  border: none;
  padding: 0.25vh;
  background-color: transparent;
  color: white;
  width: 6rem;
  font-size: 16px;
  margin-left: 1vw;
  border-radius: 5px;
}

#workspace input::placeholder,
#previewWorkspace input::placeholder {
  color: white;
}

.hamburger {
  display: none;
}

.navbar {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
  height: 7.5vh;
  width: 90vw;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 2vh;
  border-radius: 2rem;
}

.navbar .logo img {
  height: 6vh;
}

.navbar ul.pages {
  display: flex;
  list-style: none;
  gap: 2vw;
}

.navbar ul.pages li {
  font-size: 20px;
}

.navbar ul.buttons {
  display: flex;
  list-style: none;
  gap: 1vw;
}

.navbar ul.buttons li#discord a {
  background-color: #5865f2;
  padding: 1.5vh;
  font-size: 17px;
  border-radius: 2rem;
  transition: all 0.2s ease;
}

.navbar ul.buttons li#discord:hover a {
  background-color: #7882f5;
}

.home-container {
  color: white;
  letter-spacing: 2px;
}

.tos-container {
  color: white;
  padding: 1rem;
  font-size: 20px;
}

.tos-container * {
  margin-top: 7px;
  margin-bottom: 7px;
  list-style-position: inside;
}

.tos-container strong,
.tos-container a {
  font-weight: 900;
  color: #95bee4;
}

.tos-container h1 {
  font-family: 'Poetsen One', 'Ubuntu Sans', sans-serif;
}

.tos-container h1,
.tos-container h2 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.home-container .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 2vh;
  margin-top: 10vh;
}

.home-container .head h1 {
  font-size: 70px;
  font-family: 'Poetsen One', 'Ubuntu Sans', sans-serif;
}

.home-container .head p {
  font-size: 30px;
  max-width: 50%;
  line-height: 2.5rem;
}

.home-container .head p strong {
  background: var(--main-color);
  background: -webkit-linear-gradient(to right, #4095e6, rgb(226, 63, 226));
  background: linear-gradient(to right, #4095e6, rgb(226, 63, 226));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 1s ease;
}

.home-container .head .buttons {
  display: flex;
  gap: 1.5rem;
}

.home-container .head .logo {
  position: relative;
  height: 240px;
}

.home-container .head .logo img {
  border-radius: 50%;
  height: 15rem;
  position: relative;
}

.home-container .head .logo::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(red, blue, purple, red);
  z-index: -1;
  filter: blur(15px);
  animation: spin 6s linear infinite;
}

.home-container .scrollDownBtn {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
  width: min-content;
  font-size: 4rem;
  cursor: pointer;
  border-radius: 50%;
}

.home-container .scrollDownBtn:active i {
  color: rgba(187, 187, 187, 0.849);
}

.home-container .scrollDownBtn i {
  transition: all 0.1s ease;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.849);
}

.home-container .scrollDownBtn:hover i {
  box-shadow: 0 0 2rem var(--main-color);
}

.home-container div.head p#offer {
  font-size: 25px;
}

.dashboard-container {
  display: flex;
  position: relative;
  color: white;
}

.sidebar-container {
  position: sticky;
  justify-content: space-between;
  top: 0;
  color: white;
  background-color: var(--foreground-color);
  border-right: 2px solid rgba(112, 128, 144, 0.233);
  height: 100vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidebar-container .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}

.sidebar-container.active {
  display: flex;
  position: fixed;
  opacity: 0.95;
  z-index: 100;
}

.close-sidebar {
  display: none;
}

.sidebar-container .logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  gap: 0.5rem;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1rem;
}

.sidebar-container .logo div {
  font-family: 'Poetsen One', 'Ubuntu Sans', sans-serif;
}

.sidebar-container .logo img {
  height: 4rem;
  border-radius: 50%;
}

.sidebar-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 2rem;
  height: 30%;
  font-size: 25px;
}

.sidebar-container ul li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: center;
}

.sidebar-container ul li span {
  background-color: red;
  padding: 0 3px 0 3px;
  border-radius: 10px;
}

.sidebar-container ul a {
  width: min-content;
}

.sidebar-container ul a:hover i {
  animation: spin 0.5s 1 ease;
}

.sidebar-container .bottom {
  width: 100%;
}

.sidebar-container .nametag {
  cursor: pointer;
  background-color: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  gap: 0.5rem;
}

.sidebar-container .nametag:hover {
  background-color: var(--main-color);
}

.sidebar-container .nametag div {
  max-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-container .nametag img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  max-width: 2rem;
  max-height: 2rem;
}

.sidebar-container .nametag i {
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar-container .nametag i:hover {
  background-color: var(--foreground-color);
}

.projects-container {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.projects-container .head,
.settings-container .head {
  font-size: 50px;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1rem;
}

.projects-container .projects {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 20rem);
  gap: 2rem;
}

.priProject {
  background-color: var(--foreground-color);
  border: 2px solid var(--border-color);
  padding: 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.priProject .buttons {
  display: flex;
  margin-top: auto;
  gap: 0.5rem;
  width: 100%;
}

.priProject .top {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.priProject .top > i {
  opacity: 0.75;
}

.priProject .top {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.priProject .name-container i,
.pubProject .name-container i {
  font-size: 20px;
  transition: scale 0.2s ease;
}

.priProject .name-container i:nth-of-type(1):hover {
  animation: spin 0.5s ease;
  scale: 1.05;
}

.priProject .name-container i:nth-of-type(1):active {
  animation: spin 0.5s ease;
  scale: 0.9;
}

.priProject .buttons button {
  width: 50%;
  border-radius: 1.5rem;
}

.projects-container .nametag {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.projects-container .nametag img {
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

.projects-container > .buttons {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.project-create-modal {
  display: flex;
  gap: 1vh;
  flex-direction: column;
}

.project-create-modal input {
  padding: 0.75rem;
  border-radius: 2rem;
  border: 2px solid var(--border-color);
  font-size: 20px;
}

.explore-container,
.fav-container,
.inbox-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.7rem;
  width: 100%;
}

.explore-container .head,
.fav-container .head,
.inbox-container .head {
  font-size: 50px;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1rem;
}

.explore-container .exploration,
.fav-container .favorites,
.inbox-container .notifications {
  margin-left: 1rem;
}

.explore-container .buttons {
  display: flex;
  gap: 1rem;
}

input.search {
  background-color: transparent;
  border: 2px solid slategray;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  font-size: 16px;
  width: min-content;
  transition: all 0.2s ease;
}

input.search:focus {
  outline: none;
  padding-right: 5rem;
  border-radius: 1.2rem;
}

input.search::placeholder {
  transition: all 0.2s ease;
  color: rgba(190, 190, 190, 0.534);
}

input.search:focus::placeholder {
  color: rgba(190, 190, 190, 0.288);
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.exploration,
.favorites {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.explore-container .exploration .content,
.fav-container .favorites .content {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 20rem);
  gap: 3rem;
}

.pubProject {
  background-color: var(--foreground-color);
  border: 2px solid var(--border-color);
  padding: 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pubProject h1,
.priProject h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pubProject .name-container,
.priProject .name-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: left;
}

.pubProject .buttons {
  margin-top: auto;
  display: flex;
  gap: 0.5vw;
}

.pubProject .buttons a {
  width: 100%;
}

.pubProject .buttons button {
  width: 100%;
}

.pubProject .info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.pubProject .stats {
  display: flex;
}

.pubProject .stats p:first-child {
  border: none;
}

.pubProject .stats p {
  border-left: 2px solid var(--border-color);
  padding: 0 0.5rem 0 0.5rem;
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.7rem;
  width: 100%;
}

.user-profile-container .head {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.user-profile-container .head .nametag {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 30px;
}

.user-profile-container .head .nametag p {
  font-size: 20px;
}

.user-profile-container .head .nametag img {
  border-radius: 50%;
  border: 2px solid var(--border-color);
  height: 128px;
  width: 128px;
  background-color: #002c55;
  transition: border-radius 0.2s ease;
}

.user-profile-container .head .stats {
  display: flex;
}

.user-profile-container .head .stats p:first-child {
  border: none;
}

.user-profile-container .head .stats p {
  border-left: 2px solid var(--border-color);
  padding: 0 0.5rem 0 0.5rem;
}

.user-profile-container .body {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 20rem);
  gap: 3rem;
}

.user-profile-container .body > div {
  background-color: var(--foreground-color);
  border: 2px solid var(--border-color);
  padding: 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-profile-container .body > div .buttons {
  display: flex;
  gap: 0.5vw;
}

.user-profile-container .body > div .buttons a {
  width: 100%;
}

.user-profile-container .body > div .buttons button {
  width: 100%;
}

.user-profile-container .body > div .info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.user-profile-container .body > div .stats {
  display: flex;
}

.user-profile-container .body > div .stats p:first-child {
  border: none;
}

.user-profile-container .body > div .stats p {
  border-left: 2px solid var(--border-color);
  padding: 0 0.5rem 0 0.5rem;
}

.project-page-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.7rem;
  width: 100%;
}

.project-page-container .head {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.project-page-container .head .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-page-container .head .info h1 {
  font-size: 50px;
}

.project-page-container .head .buttons {
  display: flex;
  gap: 1vw;
}

.darkBtn {
  background-color: var(--border-color);
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid var(--main-color);
  transition: all 0.2s ease;
  display: flex;
  gap: 0.5vw;
  align-items: center;
}

.darkBtn:hover {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.darkBtn.like.active {
  background-color: rgba(150, 79, 79, 0.233);
  border-color: #aa0000;
}

.darkBtn.fav.active {
  background-color: rgba(150, 125, 79, 0.233);
  border-color: #aa7400;
}

.project-page-container .head .buttons .like.active i,
.comment .bottom .like.active i {
  color: red;
}

.project-page-container .head .buttons .like.active.newLike i,
.comment .bottom .like.active.newLike i {
  animation: spin 0.5s ease 1, scale 0.5s ease 1;
}

.project-page-container .head .buttons .fav.active i {
  color: #ffd143;
}

.project-page-container .head .buttons .fav.active.newFav i {
  animation: spin 0.5s ease 1, scale 0.5s ease 1;
}

.project-page-container .body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comment {
  background-color: var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 16px;
}

.comment.highlighted,
.reply.highlighted {
  background-color: #002c55 !important;
}

.comment .top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.comment .top a {
  display: flex;
  align-items: center;
  gap: 0.25vw;
}

.comment .top img {
  height: 2rem;
  border-radius: 50%;
}

.comment .bottom {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.comment .bottom div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.comment .replies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment .replies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment .replies .reply {
  background-color: var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 16px;
}

.addComment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postBtn,
.replyBtn {
  width: min-content;
  height: 3rem;
  border-radius: 20px;
}

textarea.commentInput,
textarea.replyInput {
  background-color: var(--foreground-color);
  width: 25rem;
  font-size: 20px;
  resize: both;
  padding: 1rem;
  border-radius: 16px;
  border: 2px solid var(--border-color);
  outline: none;
  color: white;
}

textarea.commentInput::placeholder,
textarea.replyInput::placeholder {
  color: rgb(194, 194, 194);
}

.settings-container {
  padding: 2rem;
  width: 100%;
  gap: 1.7rem;
  display: flex;
  flex-direction: column;
}

.settings-container .body {
  display: flex;
  gap: 2rem;
}

.settings-container .body .categories {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 20px;
  border-right: 2px solid var(--border-color);
  padding: 1rem;
  height: 80vh;
}

.settings-container .body .categories li {
  padding: 0.5rem;
  border-radius: 5px;
}

.settings-container .body .categories li:hover,
.settings-container .body .categories li.active {
  background-color: var(--border-color);
}

.settings-container .body .categories li:active {
  background-color: rgba(112, 128, 144, 0.13);
}

.settings-container .settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-container .settings .option {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
}

.settings-container .settings .option:first-of-type {
  margin-top: 1rem;
}

.settings-container .settings .option div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--border-color);
  padding: 0.5rem;
  border-radius: 10px;
}

select {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
}

select:hover {
  background-color: var(--border-color);
}

select option {
  font-size: 15px;
  background-color: var(--foreground-color);
  color: white;
}

@media (max-width: 1750px) {
  .projects-container .projects,
  .explore-container .exploration .content,
  .fav-container .favorites .content,
  .user-profile-container .body {
    grid-template-columns: repeat(3, 20rem);
  }
}

@media (max-width: 1400px) {
  .projects-container .projects,
  .explore-container .exploration .content,
  .fav-container .favorites .content,
  .user-profile-container .body {
    grid-template-columns: repeat(2, 20rem);
  }
}

@media (max-width: 1350px) {
  .workspace-navbar button {
    font-size: 16px;
  }

  .projectName {
    font-size: 17px;
  }
}

@media (max-width: 1300px) {
  .home-container .head p {
    max-width: 60%;
  }
}

@media (max-width: 1150px) and (min-width: 930px) {
  .workspace-navbar .left {
    display: flex;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.3vw;
  }

  .workspace-navbar .left ul button {
    overflow: hidden;
    width: 10vw;
    padding: 0.7vw;
  }

  .workspace-navbar .left ul button div {
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .workspace-navbar .right .indicator {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
}

@media (max-width: 1070px) {
  .home-container .head p {
    max-width: 70%;
  }

  .staff-container .staff {
    grid-template-columns: repeat(2, 20rem) !important;
  }
}

@media (max-width: 1030px) {
  .projects-container .projects,
  .explore-container .exploration .content,
  .fav-container .favorites .content,
  .user-profile-container .body {
    grid-template-columns: repeat(1, 20rem);
  }

  .features {
    grid-template-columns: repeat(2, 20rem) !important;
    grid-template-rows: auto !important;
  }
}

@media (max-width: 1030px) and (min-width: 930px) {
  .workspace-navbar .left {
    margin-left: 0.5rem;
    gap: 0.2vw;
  }
}

@media (max-width: 930px) {
  .home-container .head p {
    max-width: 80%;
  }

  .workspace-navbar .content-container {
    position: absolute;
    justify-content: center;
    top: 7%;
    z-index: 100;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    height: 0;
    overflow: hidden;
    width: 100%;
    gap: 1rem;
  }

  .workspace-navbar i.menu {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .workspace-navbar .left {
    margin: 0;
    padding: 0;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .workspace-navbar .right {
    margin: 0;
    padding: 0;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .workspace-navbar .right ul {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
  }

  .workspace-navbar .left ul {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1070px) {
  .home-container .head p {
    max-width: 70%;
  }

  .staff-container .staff {
    grid-template-columns: repeat(2, 20rem) !important;
  }
}

@media (max-width: 1030px) {
  .projects-container .projects,
  .explore-container .exploration .content,
  .fav-container .favorites .content,
  .user-profile-container .body {
    grid-template-columns: repeat(1, 20rem);
  }

  .features {
    grid-template-columns: repeat(2, 20rem) !important;
    grid-template-rows: auto !important;
  }
}

@media (max-width: 930px) {
  .home-container .head p {
    max-width: 80%;
  }

  .previewWorkspaceNavbar {
    justify-content: space-between;
  }

  .previewWorkspaceNavbar > div {
    position: initial;
    transform: none;
  }
}

@media (max-width: 810px) {
  .home-container .head p {
    max-width: 80%;
  }

  .features {
    grid-template-columns: 20rem !important;
  }

  .navbar {
    display: none;
  }

  .user-profile-container .head h1 {
    font-size: 40px;
  }

  .user-profile-container .head img {
    height: 6rem;
  }

  .staff-container .staff {
    grid-template-columns: 20rem !important;
  }
}

@media (max-width: 670px) {
  .sidebar-container {
    display: none;
  }

  .close-sidebar {
    display: block;
  }

  .loadingAnim {
    font-size: 30px;
  }

  .loadingAnim .spinner {
    height: 2rem;
    width: 2rem;
  }

  .hamburger {
    width: 100%;
    background-color: var(--main-color);
    display: block;
    font-size: 40px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger div {
    font-family: 'Poetsen One', 'Ubuntu Sans', sans-serif;
  }

  .hamburger i {
    position: absolute;
    left: 1rem;
  }

  .projects-container,
  .explore-container,
  .user-profile-container,
  .fav-container,
  .settings-container,
  .project-page-container,
  .inbox-container {
    margin-top: 2rem;
  }

  .user-profile-container .head img {
    height: 60px;
  }

  .user-profile-container .head h1 {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .home-container .head p {
    max-width: 90%;
  }

  .project-page-container .head > .buttons {
    flex-direction: column;
  }

  .project-page-container .head > .buttons div {
    gap: 2vw;
  }
}

@media (max-width: 450px) {
  .projects-container > .buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .project-page-container .head .info h1 {
    font-size: 40px;
  }
}

@media (max-width: 419px) {
  .home-container .head h1 {
    font-size: 60px;
  }

  .home-container .head p {
    font-size: 20px;
    line-height: initial;
  }
}

@media (max-width: 395px) {
  .loadingAnim {
    font-size: 20px;
  }

  .projects-container .projects,
  .explore-container .exploration .content,
  .fav-container .favorites .content,
  .user-profile-container .body {
    grid-template-columns: repeat(1, auto);
  }

  .features {
    grid-template-columns: 15rem !important;
  }

  .pubProject > .buttons,
  .priProject > .buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .projects-container .head,
  .explore-container .head,
  .fav-container .head,
  .settings-container .head,
  .inbox-container .head {
    font-size: 40px;
  }

  .user-profile-container .head h1 {
    font-size: 10vw;
  }

  .user-profile-container .head img {
    height: 40px;
  }
}

@media (max-width: 330px) {
  .loadingAnim {
    font-size: 20px;
  }

  .loadingAnim .spinner {
    height: 1.5rem;
    width: 1.5rem;
  }

  .projects-container .head,
  .explore-container .head,
  .fav-container .head,
  .settings-container .head,
  .inbox-container .head {
    font-size: 30px;
  }

  .home-container .head .buttons {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .home-container .head .logo img {
    height: 13rem;
  }

  input.search {
    width: 10rem;
  }

  .staff-container .staff {
    grid-template-columns: 15rem !important;
  }
}

@keyframes appear {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.home-container .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25rem;
}

.home-container .body h2 {
  text-align: center;
  font-size: 50px;
  font-family: 'Poetsen One', 'Ubuntu Sans', sans-serif;
}

.features {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: repeat(3, 10rem);
  justify-content: center;
  gap: 2rem;
  padding-bottom: 10rem;
}

.features div {
  background-color: var(--border-color);
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  cursor: default;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  transition: all 0.2s ease, opacity 0.5s 0.25s ease, transform 0.5s 0.25s ease,
    filter 0.5s 0.25s ease;
}

.features div i {
  font-size: 30px;
  transition: color 0.5s ease;
}

.features div:nth-child(1):hover i {
  color: rgb(216, 181, 93);
}

.features div:nth-child(2):hover i {
  color: lightgreen;
}

.features div:nth-child(3):hover i {
  color: rgb(255, 255, 127);
}

.features div:nth-child(4):hover i {
  color: rgb(157, 157, 255);
}

.features div:nth-child(5):hover i {
  color: rgb(255, 129, 255);
}

.features div:nth-child(6):hover i {
  color: rgb(255, 255, 127);
}

.features div:nth-child(7):hover i {
  color: cyan;
}

.features div:nth-child(8):hover i {
  color: rgb(255, 169, 169);
}

.features div:nth-child(9):hover i {
  color: rgb(168, 81, 81);
}

.features div:hover {
  scale: 1.05;
  box-shadow: 0 0 2rem var(--main-color);
}

.features div:nth-child(2) {
  transition: all 0.2s ease, opacity 0.5s 0.5s ease, transform 0.5s 0.5s ease,
    filter 0.5s 0.5s ease;
}

.features div:nth-child(3) {
  transition: all 0.2s ease, opacity 0.5s 0.75s ease, transform 0.5s 0.75s ease,
    filter 0.5s 0.75s ease;
}

.features div:nth-child(5) {
  transition: all 0.2s ease, opacity 0.5s 0.5s ease, transform 0.5s 0.5s ease,
    filter 0.5s 0.5s ease;
}

.features div:nth-child(6) {
  transition: all 0.2s ease, opacity 0.5s 0.75s ease, transform 0.5s 0.75s ease,
    filter 0.5s 0.75s ease;
}

.features div:nth-child(8) {
  transition: all 0.2s ease, opacity 0.5s 0.5s ease, transform 0.5s 0.5s ease,
    filter 0.5s 0.5s ease;
}

.features div:nth-child(9) {
  transition: all 0.2s ease, opacity 0.5s 0.75s ease, transform 0.5s 0.75s ease,
    filter 0.5s 0.75s ease;
}

h2.hidden:not(.shown),
button.hidden:not(.shown),
div.hidden:not(.shown) {
  transition: all 0s linear !important;
  opacity: 0 !important;
}

.staff-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.staff-container h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Poetsen One', 'Ubuntu Sans', sans-serif;
}

.staff-container .staff {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  gap: 2rem;
}

.staff-container .staff div {
  background-color: var(--border-color);
  border: 2px solid var(--main-color);
  text-align: center;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  transition: all 0.2s ease;
  cursor: default;
}

.staff-container .staff div:hover {
  box-shadow: 0 0 2rem var(--main-color);
  scale: 1.04;
  cursor: pointer;
}

.staff-container .staff div h3 {
  font-size: 25px;
}

.staff-container .staff div p {
  font-size: 20px;
}

.staff-container .staff div img {
  border-radius: 50%;
  border: 2px solid black;
  width: 5rem;
}

.blocklyTreeIcon {
  background-image: url('../public/media/sprite.png');
}

.blocklyTreeRow {
  transition: all 0.2s ease;
  height: 24px;
  border-radius: 3px;
}

.blocklyToolboxDiv {
  padding: 4px 2px 4px 2px;
}

.blocklyToolboxDiv * {
  outline: none;
}

.inbox-container .notifications {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inbox-container .notifications .inbox-item {
  background-color: var(--border-color);
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  transition: border 0.3s ease;
  cursor: pointer;
  position: relative;
}

.inbox-container .notifications .inbox-item .clearBtn {
  opacity: 0;
  position: absolute;
  left: 1rem;
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
  transition: opacity 0.2s ease;
}

.inbox-container .notifications .inbox-item .clearBtn:hover {
  background-color: red;
}

.inbox-container .notifications .inbox-item .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.2s ease;
}

.inbox-container .notifications .inbox-item p {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.inbox-container .notifications .inbox-item p .userTag {
  padding: 0;
}

.inbox-container .notifications .inbox-item.unread {
  border-left: 0.5rem solid var(--main-color);
}

.inbox-container .notifications .inbox-item:hover {
  background-color: var(--foreground-color);
}

.inbox-container .notifications .inbox-item:hover .info {
  margin-left: 2.5rem;
}

.inbox-container .notifications .inbox-item:hover .clearBtn {
  opacity: 1;
}

.inbox-container .notifications .inbox-item.unread:hover {
  border-left: 1rem solid var(--main-color);
}

.inbox-container .buttons {
  display: flex;
  gap: 1rem;
}

.swal2-popup button {
  padding: 1.5vh;
  border-radius: 10px !important;
  transition: all 0.2s ease !important;
}

.swal2-popup button:hover {
  border-radius: 15px !important;
}

.swal2-cancel:hover {
  opacity: 0.6 !important;
}

.swal2-confirm:hover {
  opacity: 0.6 !important;
}

.swal2-deny {
  background: rgb(255, 59, 59) !important;
}

.swal2-deny:hover {
  background: rgba(255, 59, 59, 0.596) !important;
}

/* Swal2 dark styling > */

.swal2-container.dark .swal2-validation-message {
  background-color: var(--border-color);
  color: white;
}

.swal2-container.dark * {
  color: rgb(236, 236, 236);
}

.swal2-container.dark .swal2-footer {
  border-top: 1px solid #555555;
}

.swal2-container.dark .swal2-progress-step.swal2-active-progress-step {
  background: #1e5f9c;
}

.swal2-container.dark .swal2-progress-step:not(.swal2-active-progress-step),
.swal2-container.dark .swal2-progress-step-line {
  background: #205061 !important;
}

.code-view-tabs {
  display: flex;
  gap: 1rem;
}

.code-view-tabs div {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.code-view-tabs div:hover {
  background-color: var(--border-color);
}

.code-view-tabs div.active {
  background-color: var(--border-color);
}

.code-view-tabs div.active::after {
  content: '';
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: var(--main-color);
}

.swal2-html-container p.missingBlock {
  background-color: var(--border-color);
  border-radius: 10px;
  padding: 10px;
}
