* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --main-color: #014f98;
}

body {
  background-color: rgb(34, 34, 34);
}

a {
  color: white;
  text-decoration: none;
}

.unerline-effect {
  display: flex;
  flex-direction: column;
}

.underline-effect::after {
  content: "";
  margin-top: 0.1vh;
  display: block;
  width: 0%;
  height: 0.2vh;
  border-radius: 10px;
  background-color: red;
  transition: all 0.2s ease;
}

.underline-effect:hover::after {
  width: 100%;
}

.button {
  cursor: pointer;
  background-color: slategray;
  padding: 1vh;
  border-radius: 10px;
  border: 2px solid rgb(152, 174, 196);
  transition: all 0.2s ease;
  align-items: center;
  display: flex;
  gap: 0.4vw;
  justify-content: center;
}

.button:hover {
  background-color: rgb(152, 174, 196);
}

.button.disabled {
  background-color: rgba(112, 128, 144, 0.479);
  border: 2px solid rgba(152, 174, 196, 0.466);
  color: rgba(255, 255, 255, 0.432);
  cursor: not-allowed;
}

.button.disabled:hover {
  background-color: rgba(112, 128, 144, 0.479);
}

.tooltipEle {
  position: relative;
}

.tooltipText {
  display: none;
}

.tooltipEle:hover .tooltipText {
  display: block;
  opacity: 1;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 10vw;
  top: 125%;
  left: 50%;
  margin-left: -5vw;
  padding: 1vh;
  border: 2px solid gray;
}

p.modal-text {
  line-height: 3vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  height: 7.5vh;
  padding: 2vh;
  color: white;
}

.navbar .left {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: default;
}

.navbar .logo img {
  height: 7.5vh;
}

.navbar .left ul {
  display: flex;
  gap: 1vw;
  align-items: center;
  list-style: none;
}

.navbar .right ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.navbar .right ul i {
  font-size: 20px;
}

.navbar .right ul a i {
  color: rgb(0, 46, 197);
}

.navbar .right #projectName {
  color: white;
  background-color: rgba(0, 0, 0, 0.425);
  border: 2px solid black;
  padding: 1.25vh;
  border-radius: 10px;
  font-size: 15px;
}

.navbar .right #projectName::placeholder {
  color: rgba(255, 255, 255, 0.61);
}

#workspace {
  height: 92.5vh;
}

.code-view {
  background-color: rgba(31, 31, 31, 0.897);
  padding: 2vh;
  height: 100vh;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 2vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.code-view * {
  color: white;
}

#code {
  font-family: monospace;
  padding: 2vh;
  font-size: 15px;
  background-color: #00284e;
  border: 4px solid var(--main-color);
  border-radius: 10px;
  max-height: 90vh;
  overflow: auto;
}

.code-view .top {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.code-view .top button {
  height: min-content;
  border: none;
  padding: 1vh;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.code-view .top button#close {
  background-color: rgb(163, 0, 0);
}

.code-view .top button#copy {
  background-color: var(--main-color);
}

.code-view .top button#close:hover {
  background-color: rgb(190, 0, 0);
}

.code-view .top button#copy:hover {
  background-color: #0062be;
}

.code-view .top .check {
  color: rgb(0, 202, 0);
  font-size: 25px;
}

.blockly-ws-search {
  box-shadow: 0 10px 20px black;
  padding: 1vh;
  border: none;
  border-radius: 10px;
}

#workspace input {
  border: none;
  padding: 0.25vh;
  background-color: var(--main-color);
  color: white;
  width: 6vw;
  font-size: 16px;
  margin-left: 1vw;
  border-radius: 5px;
}

#workspace input::placeholder {
  color: white;
}
