* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --main-color: #014f98;
}

body {
  background-color: rgb(34, 34, 34);
}

a {
  color: white;
  text-decoration: none;
}

.unerline-effect {
  display: flex;
  flex-direction: column;
}

.underline-effect::after {
  content: "";
  margin-top: 0.1vh;
  display: block;
  width: 0%;
  height: 0.2vh;
  border-radius: 10px;
  background-color: red;
  transition: all 0.2s ease;
}

.underline-effect:hover::after {
  width: 100%;
}

.button {
  cursor: pointer;
  background-color: slategray;
  padding: 1vh;
  border-radius: 10px;
  border: 2px solid rgb(152, 174, 196);
  transition: all 0.2s ease;
  align-items: center;
  display: flex;
  gap: 0.4vw;
  justify-content: center;
}

.button:hover {
  background-color: rgb(152, 174, 196);
}

.button.disabled {
  background-color: rgba(112, 128, 144, 0.479);
  border: 2px solid rgba(152, 174, 196, 0.466);
  color: rgba(255, 255, 255, 0.432);
  cursor: not-allowed;
}

.button.disabled:hover {
  background-color: rgba(112, 128, 144, 0.479);
}

.tooltipEle {
  position: relative;
}

.tooltipText {
  display: none;
}

.tooltipEle:hover .tooltipText {
  display: block;
  opacity: 1;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 10vw;
  top: 125%;
  left: 50%;
  margin-left: -5vw;
  padding: 1vh;
  border: 2px solid gray;
}

p.modal-text {
  line-height: 3vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  height: 7.5vh;
  padding: 2vh;
  color: white;
}

.navbar .left {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: default;
}

.navbar .logo img {
  height: 7.5vh;
}

.navbar .left ul {
  display: flex;
  gap: 1vw;
  align-items: center;
  list-style: none;
}

.navbar .right ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.navbar .right ul i {
  font-size: 20px;
}

.navbar .right ul a i {
  color: rgb(0, 46, 197);
}

.navbar .right #projectName {
  color: white;
  background-color: rgba(0, 0, 0, 0.425);
  border: 2px solid black;
  padding: 1.25vh;
  border-radius: 10px;
  font-size: 15px;
}

.navbar .right #projectName::placeholder {
  color: rgba(255, 255, 255, 0.61);
}

#workspace {
  height: 92.5vh;
}

.code-view {
  background-color: rgba(31, 31, 31, 0.897);
  padding: 2vh;
  height: 100vh;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 2vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.code-view * {
  color: white;
}

#code {
  font-family: monospace;
  padding: 2vh;
  font-size: 15px;
  background-color: #00284e;
  border: 4px solid var(--main-color);
  border-radius: 10px;
  max-height: 90vh;
  overflow: auto;
}

.code-view .top {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.code-view .top button {
  height: min-content;
  border: none;
  padding: 1vh;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.code-view .top button#close {
  background-color: rgb(163, 0, 0);
}

.code-view .top button#copy {
  background-color: var(--main-color);
}

.code-view .top button#close:hover {
  background-color: rgb(190, 0, 0);
}

.code-view .top button#copy:hover {
  background-color: #0062be;
}

.code-view .top .check {
  color: rgb(0, 202, 0);
  font-size: 25px;
}

.blockly-ws-search {
  box-shadow: 0 10px 20px black;
  padding: 1vh;
  border: none;
  border-radius: 10px;
}

#workspace input {
  border: none;
  padding: 0.25vh;
  background-color: var(--main-color);
  color: white;
  width: 6vw;
  font-size: 16px;
  margin-left: 1vw;
  border-radius: 5px;
}

#workspace input::placeholder {
  color: white;
}

.navbar {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
  height: 7.5vh;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 2vh;
  border-radius: 2rem;
}

.navbar .logo img {
  height: 6vh;
}

.navbar ul.pages {
  display: flex;
  list-style: none;
  gap: 2vw;
}

.navbar ul.pages li {
  font-size: 20px;
}

.navbar ul.buttons {
  display: flex;
  list-style: none;
  gap: 1vw;
}

.navbar ul.buttons li#discord a {
  background-color: #5865f2;
  border: 2px solid rgb(255, 255, 255);
  padding: 1.5vh;
  font-size: 17px;
  border-radius: 2rem;
  transition: all 0.2s ease;
}

.navbar ul.buttons li#discord:hover a {
  background-color: #5865f27e;
}

.home-container {
  color: white;
  letter-spacing: 2px;
}

.home-container .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 2vh;
  margin-top: 10vh;
}

.home-container .head h1 {
  font-size: 70px;
  font-family: "Poetsen One", "Ubuntu Sans", sans-serif;
}

.home-container .head p {
  font-size: 30px;
  max-width: 50%;
}

.home-container .head .buttons {
  display: flex;
  gap: 1.5rem;
}

.home-container .head .logo img {
  border-radius: 50%;
  height: 15rem;
}

.dashboard-container {
  display: flex;
  color: white;
}

.sidebar-container {
  position: sticky;
  top: 0;
  color: white;
  background-color: var(--foreground-color);
  border-right: 2px solid rgba(112, 128, 144, 0.233);
  height: 100vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

.sidebar-container .logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  gap: 0.5rem;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1rem;
}

.sidebar-container .logo div {
  font-family: "Poetsen One", "Ubuntu Sans", sans-serif;
}

.sidebar-container .logo img {
  height: 4rem;
  border-radius: 50%;
}

.sidebar-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
  height: 30%;
  font-size: 25px;
}

.sidebar-container ul li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: center;
}

.sidebar-container ul a:hover i {
  animation: spin 0.5s 1 ease;
}

.projects-container {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.projects-container .head {
  font-size: 50px;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1rem;
}

.projects-container .projects {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 20rem);
  gap: 3rem;
}

.projects-container .projects > div {
  background-color: var(--foreground-color);
  border: 2px solid var(--border-color);
  padding: 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-container .projects div .buttons {
  display: flex;
  gap: 0.5vw;
}

.projects-container .projects div h1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects-container .projects div .buttons button {
  width: 100%;
}

.projects-container .nametag {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.projects-container .nametag img {
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

.projects-container > .buttons {
  display: flex;
  gap: 1vw;
  margin-left: 1rem;
}

.project-create-modal {
  display: flex;
  gap: 1vh;
  flex-direction: column;
}

.project-create-modal input {
  padding: 0.75rem;
  border-radius: 2rem;
  border: 2px solid var(--border-color);
  font-size: 20px;
}

.explore-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.7rem;
  width: 100%;
}

.explore-container .head {
  font-size: 50px;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1rem;
}

.explore-container .exploration {
  margin-left: 1rem;
}

input.search {
  background-color: transparent;
  border: 2px solid slategray;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  font-size: 15px;
  width: min-content;
}

input.search::placeholder {
  color: rgb(190, 190, 190);
}

.exploration {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.explore-container .exploration .content {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 20rem);
  gap: 3rem;
}

.explore-container .exploration .content > div {
  background-color: var(--foreground-color);
  border: 2px solid var(--border-color);
  padding: 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.explore-container .exploration .content > div .buttons {
  display: flex;
  gap: 0.5vw;
}

.explore-container .exploration .content > div .buttons a {
  width: 100%;
}

.explore-container .exploration .content > div .buttons button {
  width: 100%;
}

.exploration .content > div .info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.exploration .content > div .stats {
  display: flex;
}

.exploration .content > div .stats p:first-child {
  border: none;
}

.exploration .content > div .stats p {
  border-left: 2px solid var(--border-color);
  padding: 0 0.5rem 0 0.5rem;
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.7rem;
  width: 100%;
}

.user-profile-container .head {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.user-profile-container .head .nametag {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 30px;
}

.user-profile-container .head .nametag img {
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

.user-profile-container .head .stats {
  display: flex;
}

.user-profile-container .head .stats p:first-child {
  border: none;
}

.user-profile-container .head .stats p {
  border-left: 2px solid var(--border-color);
  padding: 0 0.5rem 0 0.5rem;
}

.user-profile-container .body {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 20rem);
  gap: 3rem;
}

.user-profile-container .body > div {
  background-color: var(--foreground-color);
  border: 2px solid var(--border-color);
  padding: 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-profile-container .body > div .buttons {
  display: flex;
  gap: 0.5vw;
}

.user-profile-container .body > div .buttons a {
  width: 100%;
}

.user-profile-container .body > div .buttons button {
  width: 100%;
}

.user-profile-container .body > div .info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.user-profile-container .body > div .stats {
  display: flex;
}

.user-profile-container .body > div .stats p:first-child {
  border: none;
}

.user-profile-container .body > div .stats p {
  border-left: 2px solid var(--border-color);
  padding: 0 0.5rem 0 0.5rem;
}

.project-page-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.7rem;
  width: 100%;
}

.project-page-container .head {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.project-page-container .head .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-page-container .head .info h1 {
  font-size: 50px;
}

.project-page-container .head .buttons {
  display: flex;
  gap: 1vw;
}

.darkBtn {
  background-color: var(--border-color);
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid var(--main-color);
  transition: all 0.2s ease;
  display: flex;
  gap: 0.5vw;
  align-items: center;
}

.darkBtn:hover {
  background-color: var(--main-color);
}

@keyframes scale {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

.darkBtn:hover i {
  animation: scale 0.5s ease 1, spin 0.5s ease 1;
}
